@import 'tailwindcss';

@theme {
	--color-plastic-orange: oklch(0.6908 0.2339 42.29);
	--color-plastic-beige: oklch(0.9132 0.0203 65.13);
	--color-plastic-gray: oklch(0.3279 0.0077 270.8);
	--color-print-gray: oklch(0.326 0.0125 140.47);
	--color-print-blue: oklch(0.5369 0.206 285.53);
	--color-silicone-gray: oklch(0.7092 0.0084 65.13);
	--color-vfd-dark: oklch(0.1647 0.0119 179.16);
	--color-vfd-light: oklch(0.8056 0.0829 180.5);
	--color-display-black: oklch(0.1528 0.0302 253.71);
	--font-sans: Gabarito, sans-serif;
	--font-serif: Andada Pro, serif;
}
